//colors
$main-color: #233a75;
$second-blue-color: #274695;
$second-color: #ed1c23;
$accent-color: #eef1ff;
$global-color: #fff;
$title-color: #121521;
$second-font-color: #000;
$hover-color: #ed1c23;
$sent-ok-color: #398f14;
//fonts
$main-font: 'Helvetica', sans-serif;

