// Mixin for transition/transform
@mixin translate($x , $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9+
  transform: translate($x, $y);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin transition-transform($transition) {
  -webkit-transition: -webkit-transform $transition;
  -moz-transition: -moz-transform $transition;
  -o-transition: -o-transform $transition;
  transition: transform $transition;
}

.btn-close {
  position: absolute;
  right: 30px;
  top: 90px;
  display: flex;
  @media (min-width: 768px) {
    right: 55px;
    top: 100px;
  }
}

//
// Modal
// ----------------------

.modal-get {
  &:target {
    &:before {
      display: block;
    }
    .modal-dialog-get {
      @include translate(0, 0);
      top: 0;
      bottom: 0;
      //left: 0;
      //right: 0;
      margin: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      left: -15px;
      right: -15px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &:target .modal-overlay-get {
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    //background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }
}

// Modal Dialog
// ----------------------

.modal-dialog-get {
  background: #fff;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 11;
  @include translate(0, -500%);
  @include transition-transform(0.5s ease-in-out);
  padding: 26px 15px;
  @media (min-width: 576px) {
    padding: 6.666vw;
  }
  @media (min-width: 992px) {
    padding: 3.333vw;
  }
}

.modal-body-get {
  padding-top: 8px;
}

.body-block {
  overflow: hidden !important;
}

//.dark-header {
//  background-color: #233a75 !important;
//  .header-navigation {
//    background-color: #233a75 !important;
//    .header__nav__li a {
//      color: white !important;
//    }
//  }
//}

.modal-content-get {
  .modal-content-header {
    padding: 120px 0 0;
    text-align: center;
    @media (min-width: 768px) {
      padding: 90px 0 0;
    }
    &-title {
      color: #233a75;
      @include fluid-type(30px, 50px);
      font-weight: 700;
      line-height: 1.1;
    }
    &-subtitle {
      margin-top: 20px;
      font-size: 22px;
      @include fluid-type(18px, 22px);
      line-height: 1.6;
    }
  }

  .form-get-in-block {
    max-width: 520px;
    margin: auto;
    .wpcf7-form {
      input, textarea {
        caret-color: red;
      }
      input[type="text"] {
        background-color: white;
      }

      label {
        max-width: 100%;
        width: 100%;
        font-size: 15px;
        line-height: 1.33;
        padding: 20px 0 8px;
        margin-bottom: 0;
        @media (min-width: 768px) {
          padding: 40px 0 8px;
        }
      }
      .wpcf7-form-control-wrap > input {
        max-width: 100%;
        width: 100%;
        padding: 10px 15px;
        @include fluid-type(18px, 20px);
        font-weight: 500;
        line-height: 1.2;
        border: 1px solid #8ea2ff;
        &:focus {
          outline: #8ea2ff auto 3px;
        }
      }

      .wpcf7-form-control-wrap {
        .wpcf7-not-valid-tip {
          margin: 10px 0 -10px;
          font-size: 15px;
        }
      }

      .wpcf7-form-control-wrap > .wpcf7-not-valid {
        //border: 1px solid red;
        background-color: #fff;
        //border: none;
        border: 1px solid $second-color;
        outline: none;
        //outline-color: #ed1c24;
        //outline-width: thick;
        //outline: 1px medium #ed1c24;
        //outline-style: auto;
        &:focus {
          background-color: $global-color;
        }
      }

      .wpcf7-form-control-wrap.acceptance > .wpcf7-not-valid {
          outline: none;
        }

      .wpcf7-form-control-wrap textarea {
        max-width: 100%;
        width: 100%;
        height: 140px;
        max-height: 300px;
        padding: 10px 15px;
        @include fluid-type(16px, 18px);
        font-weight: 500;
        line-height: 25px;
        border: 1px solid #8ea2ff;
        &:focus {
          outline: #8ea2ff auto 5px;
        }
        @media all and (min-width: 768px) {
          line-height: 28px;
        }
      }

      .wpcf7-form-control-wrap textarea::-webkit-scrollbar {
        width: 4px;
      }

      .wpcf7-form-control-wrap textarea::-webkit-scrollbar-thumb {
        background-color: #dadadd;
        border-radius: 8px;
      }
      .file-input-block {
        position: relative;
        margin-top: 35px;
        .label-file {
          border: none;
          position: absolute;
          background-color: #eef1ff;
          padding: 15px 11px;
          cursor: pointer;
          text-align: center;
          font-size: 16px;
          &:before {
            content: url("../images/icons/ic-file.svg");
            display: inline-flex;
            position: relative;
            padding-right: 10px;
            top: 3px;
          }
        }
        input[type="file"] {
          padding: 12px 25px;
          opacity: 0;
        }
        .not-valid {
          border: 1px solid red;
          background-color: #ffbac1;
        }
      }

      .submit-block {
        display: flex;
        flex-wrap: wrap;
        margin: 32px -16px;

        .wpcf7-acceptance {
          .wpcf7-list-item {
            margin: 0;
          }
        }

        .wpcf7-form-control-wrap > .wpcf7-not-valid {
          border: none;
          outline: none;
        }

        input[type="checkbox"] {
          position: absolute;
          cursor: pointer;
          outline: none;
          &:before {
            //content: '';
            content: url(../images/check.svg);
            display: block;
            //border: 2px solid #8ea2ff;
            width: 23px;
            height: 23px;
            //border-radius: 4px;
            background-color: white;
            margin-top: -1px;
            margin-left: -1px;
          }

        }
        input[type="checkbox"]:checked:before {
          //background: #26ca28;
          content: url(../images/checked.svg);
          margin-top: -1px;
          margin-left: -1px;
        }
        .wpcf7-list-item-label {
          display: inline-flex;
          align-items: center;
          padding-left: 50px;
        }

        .submit-button {
          display: flex;
          align-items: center;
          justify-content: center;
          .wpcf7-submit {
            margin: 25px 0 8px;
            background-color: $second-color;
            border: 3px solid $second-color;
            color: $global-color;
            font-family: $main-font;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 1.1;
            padding: 15px 70px;
            cursor: pointer;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            &:hover{
              //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
          }
          .submit-button-vacancy{
            padding: 15px 30px;
          }

          input[type=submit]:focus {
            outline: none;
          }

          input[type=submit]:hover {
            //background-color: $global-color;
            //color: $second-color;
            background-color: $second-font-color;
            border-color: $second-font-color;
            color: $global-color;
          }

          input[type=submit]:disabled {
            //opacity: 0.8;
          }
        }
        @media (min-width: 768px) {
          margin: 0 -16px;
          .submit-button {
            .wpcf7-submit {
              margin: 40px 0 8px;
              padding: 18px 77px;
            }
            .submit-button-vacancy{
              padding: 18px 31px;
            }
          }
        }
      }

      @media (min-width: 768px) {
        .wpcf7-form-control-wrap > input {
          padding: 15px 20px;
        }
        .wpcf7-form-control-wrap textarea {
          padding: 20px 20px;
        }
        .file-input-block {
          .label-file {
            padding: 15px 0;
          }
        }
      }
    }

  }
}


.thank-you-block {
  display: none;
  max-width: 700px;
  padding: 0 15px;
  margin: auto;
  align-items: center;
  height: 100%;
  .thank-you-text {
    margin-bottom: 15%;
    text-align: center;
    #submit-img {
      margin-bottom: 20px;
      max-width: 40%;
      @media (min-width: 992px) {
        margin-bottom: 48px;
        max-width: 100%;
      }
    }
    &-title{
      color: #233a75;
      @include fluid-type(35px, 50px);
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 20px;
      @media (min-width: 992px) {
        margin-bottom: 48px;
      }
    }
  }
  .thank-description {
    @include fluid-type(18px, 20px);
  }
}

.remove-file-button {
  height: 15px;
  width: 12px;
  display: block;
  content: url("../images/icons/ic-close.svg");
  position: absolute;
  top: -19px;
  right: 0;
}

