.button {
  margin: 20px auto;
  //margin-top: 20px;
  //margin-bottom: 20px;
  padding: 11px 0 11px;
  //border: 3px solid $second-color;
  @include fluid-type(14px, 18px);
  font-weight: 500;
  width: 168px;
  display: block;
  letter-spacing: 1.56px;
  line-height: 20px;
  @media all and (min-width: 768px) {
    width: 210px;
    padding: 19px 28px 20px;
    letter-spacing: 2px;
  }
}



