.job-section .heading-title {
  text-align: left;
  @media all and (min-width: 768px) {
    text-align: center;
  }
}

.job-section {
  @media all and (min-width: 1440px) {
    .descr-container {
      padding-top: 95px;
    }
  }
}

.btn-exerpt {
  display: block;
  margin-top: 18px;
  color: $main-color;
  &:after {
   content: url("../images/arrow-reed-more.svg");
    padding-left: 15px;
    display: inline-block;
    //transition: transform 0.3s ease-out;
  }
  &:hover::after {
    content: url("../images/arrow-forward-dark.svg");
    transition: transform 0.3s ease-out;
    transform: translateX(5px);
  }
  //&:hover{
  //  &::after{
  //    transition: transform 0.3s ease-out;
  //    transform: translateX(5px);
  //  }
  //}
  &:hover {
    color: $second-font-color;
  }
}

.job-list {
  max-width: 720px;
  margin: 0 auto;
}

.job-list-item {
  margin-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid;
  border-color: rgba(142, 162, 255, 0.5);
  &:last-child {
    border-bottom: none;
  }
}

.job-list-title {
  a {
    line-height: 40px;
    color: $second-font-color;
  }
}

@media all and (min-width: 768px) {
  .job-list-item {
    margin-top: 3.5vw;
    padding-bottom: 3.5vw;
    border-color: rgba(142, 162, 255, 0.5);
    display: flex;
  }
  .job-list-title {
    width: 20%;
  }

  .exerpt {
    width: 80%;
    padding-left: 7vw;
  }
  .btn-exerpt {
    margin-top: 25px;
  }
}

@media all and (min-width: 1440px) {
  .job-list-item {
    margin-top: 55px;
    padding-bottom: 55px;
  }
  .exerpt {
    padding-left: 125px;
  }
}
////////



.anchor-block{
  max-width: 720px;
  margin: 45px auto 0;
  @media all and (min-width: 576px) {
    margin-top: 6.7vw;
  }
  @media all and (min-width: 1440px) {
    margin-top: 100px;
  }
  .anchor {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 2px;
    text-transform: uppercase;
    color: $second-color;
    letter-spacing: 2px;
    &::before {
      content: url("../images/arrow-back-13px.svg");
      padding-right: 15px;
      position: relative;
      display: inline-block;
      transition: transform 0.3s ease-out;
    }
    &:active{
      opacity: 0.9;
    }
    &:hover{
      &::before{
        transition: transform 0.3s ease-out;
        transform: translateX(-5px);
      }
    }
  }
}

.exerpt {
  p {
    @include fluid-type(16px, 18px);
    line-height: 24px;
    margin-bottom: 0;
    @media all and (min-width: 576px) {
      line-height: 28px;
    }
  }
}

.content-page {
  padding-bottom: 20px;
  @media all and (min-width: 576px) {
    padding-bottom: 2.5vw;
  }
  @media all and (min-width: 1440px) {
    padding-bottom: 50px;
  }
}

.apply {
  margin: 0;
  padding: 65px 0;
  text-align: center;
  display: block;
  .apply-heading {
    font-weight: 700;
    @include fluid-type(28px, 36px);
    line-height: 1.3;
    color: $global-color;
    padding: 0;
    &:after {
      content: url("../images/arrow-48px.svg");
      padding-left: 25px;
      display: inline-block;
      transition: transform 0.3s ease-out;
    }
    &:hover{
      &::after{
        transition: transform 0.3s ease-out;
        transform: translateX(8px);
      }
    }

  }
}



