.provide {
  padding-top: 40px;
  padding-bottom: 25px;
  @media all and (min-width: 576px) {
    padding-top: 5vw;
    padding-bottom: 4vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.heading-section {
  margin: 0 auto 30px;
  text-align: center;
  //font-weight: 700;
  //font-size: 36px;
  max-width: 560px;
}

.provide {
  .techno-list-li {
    //height: 155px;
    padding-left: 0;
    padding-right: 0;
    height: 210px;
    .techno-img {
      padding-left: 20px;
    }
    .techno-name {
      padding-right: 20px;
    }
  }
}

@media all and (min-width: 355px) {
  .provide {
    .techno-list-li {
      height: 164px;
      .techno-img {
        padding-left: 35px;
      }
      .techno-name {
        padding-right: 25px;
      }
    }
  }
}

@media all and (min-width: 576px) {
  .provide {
  }
  .heading-section {
    margin-bottom: 3vw;
  }
}

@media all and (min-width: 768px) {
  .provide {
    .techno-list-li {
      height: 210px;
    }
  }
}

@media all and (min-width: 825px) {
  .provide {
    .techno-list-li {
      height: 164px;
    }
  }
}

@media all and (min-width: 1200px) {
  .provide {
    .techno-list-li {
      height: 210px;
    }
  }
}
@media all and (min-width: 1288px) {
  .provide {
    .techno-list-li {
      height: 164px;
    }
  }
}

@media all and (min-width: 1440px) {
  .provide {
    .techno-list-li {
      height: 210px;
    }
  }
}
@media all and (min-width: 1484px) {
  .provide {
    .techno-list-li {
      height: 164px;
    }
  }
}

@media all and (min-width: 1760px) {
  .heading-section {
    margin-bottom: 90px;
  }
}