.solutions-servises-mobile {
  display: block;
}

.servises-desktop {
  display: none;
}

.mobile-tab-item {
  display: none;
  padding-bottom: 15px;
}

.mobile-tab {
  position: relative;
}

.mobile-tab:after {
  content: url(../images/arrow-dropdown.svg);
  position: absolute;
  right: 0;
  top:0;
}

.mobile-tab.in:after {
  transform: rotate(180deg);
}

.solutions-servises-mobile {
  .solutions-description-title {
    font-size: 24px;
    padding-right: 32px;
    font-weight: 500;
    padding-bottom: 25px;
    cursor: pointer;
  }
}

@media all and (min-width: 768px) {
  .solutions-servises-mobile {
    display: none;
  }

  .servises-desktop {
    display: block;
  }
}

.solutions-servises {
  color: rgba(255, 255, 255, 0.7);
}

.solutions-description-wrap {
  height: 80vh;
  overflow: auto;
}

.solutions-servises-item {
  cursor: pointer;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  @media all and (min-width: 1370px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.solutions-servises-item-title {
  max-width: 335px;
  margin-bottom: 0;
  padding-left: 20px;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
}

.solutions-servises .active {
  border-left: 4px solid red;

  .solutions-servises-item-title {
    font-weight: 500;
    color: $global-color;
  }
}

.solutions-description {
  color: $global-color;
  .solutions-description-title {
    text-transform: capitalize;
    color: $global-color;
  }

  p {
    //margin-bottom: 40px;
    max-width: 690px;
    line-height: 33px;
  }

  ul {
    max-width: 690px;
    margin-top: 20px;
    margin-left: 40px;

    li {
      margin-bottom: 10px;
      list-style: disc;
      line-height: 33px;
    }
  }
}

@media all and (min-width: 768px) {
  .solutions-description {
    p {
      margin-top: 3vw;
      max-width: 690px;
      line-height: 35px;
    }
    ul {
      margin-top: 40px;
      li {
        margin-bottom: 20px;
        line-height: 35px;
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .solutions-description {
    p {
      margin-top: 35px;
    }
  }
}

//for scrollbar
::-webkit-scrollbar-button {
  //background-image:url('');
  background-repeat:no-repeat;
  width:7px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color:#fff;

}

::-webkit-scrollbar-thumb {
  -webkit-border-radius:15px;
  border-radius: 15px;
  background-color:#d6d2d2;
//background-color: #989898;
//  background-color: #d6d3d3;

}

::-webkit-scrollbar-thumb:hover{
  background-color: #ababab;
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
}

::-webkit-scrollbar{
  width: 4px;
}