.responsibility {
  background-color: $second-blue-color;
  color: $global-color;
}

.responsibility-inner {
  //max-width: 1170px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.responsibility-text .title-section {
  line-height: 38px;
}
.responsibility-image {
  margin: 0 auto;
  display: block;
  padding-bottom: 35px;
  max-width: 150px;
}

@media all and (min-width: 576px) {
  .responsibility {
    padding-top: 40px;
    background-color: $main-color;
  }
  .responsibility-inner {
    padding-right: 20px;
    padding-left: 20px;
  }
  .responsibility-text {
    padding-right: 20px;
    padding-left: 20px;
  }
  .responsibility-image {
    max-width: 175px;
  }
}

@media all and (min-width: 768px) {
  .responsibility {
    padding-top: 55px;
  }
  .responsibility-text {
    .title-section {
      line-height: 46px;
    }
  }
}

@media all and (min-width: 992px) {
  .responsibility-inner {
    display: flex;
    padding-top: 55px;
    padding-bottom: 10px;
  }
  .responsibility-image {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 195px;
  }
  .responsibility-text {
    max-width: 75%;
  }
}

@media all and (min-width: 1410px) {
  .responsibility {
    padding-top: 90px;
  }
  .responsibility-inner {
    padding-right: 120px;
    padding-left: 120px;
  }
  .responsibility-image {
    padding-right: 30px;
    padding-left: 0;
    max-width: 100%;
  }
  .responsibility-text {
    padding-left: 30px;
    padding-right: 0;
    .descriptions {
      max-width: 100%;
    }
  }
}