.members {
  color: $global-color;
}

.members-list li{
  margin-bottom: 30px;
}

.members-list:last-child {
  margin-bottom: 10px;
}

.members-list-item {
  //margin-bottom: 30px;
  background-color: $second-blue-color;
  padding-bottom: 5px;
}

.members-name {
  margin-top: 15px;
  margin-left: 25px;
  line-height: 32px;
  padding-left: 10px;
  padding-right: 10px;
}

.members-position {
  margin-left: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.members-photo {
  width: 100%;
}

@media all and (min-width: 576px) {
  .members-name {
    margin-top: 2.5vw;
    margin-bottom: 1.2vw;
    line-height: 32px;
  }
  .members-position {
    margin-bottom: 1.8vw;
  }
}

@media all and (min-width: 768px) {
  .members-list {
    display: flex;
    flex-wrap: wrap;
  }

  .members {
    text-align: center;
  }
  .members-list li{
    margin-bottom: 0;
    max-width: 33.3%;
  }

  .members-list-item {
    padding-bottom: 25px;
  }
  .members-name {
    margin-left: 0;
    font-weight: 700;
  }
  .members-position {
    margin-bottom: 0;
    line-height: 28px;
    margin-left: 0;
  }
}

@media all and (min-width: 1200px) {
  .members-list-item {
    padding-bottom: 40px;
  }
}

@media all and (min-width: 1410px) {
  .members-name {
    margin-top: 35px;
    margin-bottom: 18px;
    line-height: 40px;
  }
}