* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.blue {
  color: blue !important;
}

.container {
  padding: 0;
  max-width: 90% !important;
  @media (min-width: 576px) {
    max-width: 80% !important;
  }
  @media (min-width: 992px) {
    max-width: 83.933333% !important;
  }
  @media (min-width: 1440px) {
    max-width: 73.933333% !important;
  }
  @media (min-width: 1921px) {
    max-width: 1410px !important;
  }
}

input {
  -webkit-appearance: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

*:hover {
  transition: all 0.5s ease;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

li {
  @include fluid-type(18px, 20px);
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
  //font-size: 36px;
  @include fluid-type(30px, 48px);
}

h3 {
  //font-size: 36px;
  @include fluid-type(24px, 36px);
  font-weight: 700;
  line-height: 30px;
  @media all and (min-width: 576px) {
    line-height: 35px;
  }
  @media all and (min-width: 1440px) {
    line-height: 46px;
  }
}

h4 {
  @include fluid-type(23px, 30px);
  font-weight: 700;
  line-height: 30px;
  @media all and (min-width: 576px) {
    line-height: 35px;
  }
  @media all and (min-width: 1440px) {
    line-height: 40px;
  }
}

h5 {
  @include fluid-type(22px, 30px);
  font-weight: 700;
  line-height: 40px;
}

p {
  @include fluid-type(18px, 20px);
  line-height: 28px;
  @media all and (min-width: 576px) {
    line-height: 30px;
  }
  @media all and (min-width: 1440px) {
    line-height: 35px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  @media all and (min-width: 576px) {
    padding-top: 5.7vw;
    padding-bottom: 4.7vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.heading {
  text-align: center;
  max-width: 572px;
  margin: 0 auto;
  padding-bottom: 20px;
  @media all and (min-width: 576px) {
    padding-bottom: 3.6vw;
  }
  @media all and (min-width: 1440px) {
    padding-bottom: 70px;
  }
}

.heading-title {
  //margin-bottom: 15px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  @include fluid-type(30px, 48px);
  @media all and (min-width: 768px) {
    margin-bottom: 2vw;
  }
  @media all and (min-width: 1440px) {
    margin-bottom: 70px;
  }
}

.heading-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}

.main-title {
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 34px;
  @include fluid-type(30px, 48px);
  @media all and (min-width: 576px) {
    margin-top: 3vw;
    line-height: 45px;
  }
  @media all and (min-width: 1440px) {
    max-width: 1170px;
    margin: 30px auto 0;
    line-height: 56px;
  }
}

.home-title {
  margin-bottom: 15px;
  @media all and (min-width: 768px) {
    margin-bottom: 1.5vw;
  }
  @media all and (min-width: 1440px) {
    margin-bottom: 30px;
  }
}

.content-area {
  padding-top: 46px;
  @media all and (min-width: 1100px) {
    padding-top: 68px;
  }

}

.dark-blue-bg {
  background-color: $main-color;
}

.lite-blue-bg {
  background-color: $second-blue-color;
}

.lite-bg {
  background-color: $accent-color;
}

.descr-container {
  padding-top: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  @media all and (min-width: 992px) {
    padding-top: 5.2vw;
    padding-bottom: 2.6vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 46px;
  }
}

.container-universal {
  padding-top: 45px;
  padding-bottom: 20px;
  @media all and (min-width: 992px) {
    padding-top: 5vw;
    padding-bottom: 2.6vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 50px;
  }
}

.inside-container {
  @media all and (min-width: 992px) {
    margin: 0 auto;
    max-width: 720px;
  }
}

.title-section {
  margin-bottom: 20px;
  line-height: 46px;
  @media all and (min-width: 576px) {
    margin-bottom: 1.9vw;
  }
  @media all and (min-width: 1440px) {
    margin-bottom: 36px;
  }
}

.big-line:before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ed1c23;
  margin-bottom: 15px;
  @media all and (min-width: 576px) {
    margin-bottom: 35px;
  }
}

.small-line:before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ed1c23;
  margin-bottom: 15px;
  @media all and (min-width: 576px) {
    margin-bottom: 35px;
  }
}

.inside-img {
  width: 100%;
  margin: 15px auto 20px;
  display: block;
  @media all and (min-width: 576px) {
    margin-top: 2.6vw;
    margin-bottom: 2.6vw;
  }
  @media all and (min-width: 1440px) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

.descriptions {
  margin: 0 auto;
  @media all and (min-width: 992px) {
    max-width: 720px;
  }
  p {
    margin-bottom: 20px;
    line-height: 30px;
    @media all and (min-width: 576px) {
      margin-bottom: 2.6vw;
      line-height: 35px;
    }
    @media all and (min-width: 1440px) {
      margin-bottom: 40px;
    }
  }

  ul {
    margin-bottom: 20px;
    margin-left: 15px;
    @media all and (min-width: 992px) {
      margin-bottom: 40px;
      margin-left: 45px;
    }

    li {
      margin-bottom: 10px;
      @include fluid-type(18px, 20px);
      line-height: 30px;
      list-style: disc;
      @media all and (min-width: 576px) {
        margin-bottom: 15px;
        line-height: 35px;
      }
    }
  }

  h3 {
    //margin-top: 40px;
    margin-bottom: 20px;
    @include fluid-type(24px, 36px);
    font-weight: 700;
    line-height: 30px;
    @media all and (min-width: 576px) {
      //margin-top: 3.7vw;
      margin-bottom: 1.8vw;
      line-height: 48px;
    }
    @media all and (min-width: 1440px) {
      //margin-top: 70px;
      margin-bottom: 35px;
    }
  }

  h4 {
    margin-bottom: 20px;
    @include fluid-type(18px, 20px);
    font-weight: 700;
    line-height: 35px;
    @media all and (min-width: 576px) {
      margin-bottom: 1.9vw;
    }
    @media all and (min-width: 1440px) {
      margin-bottom: 35px;
    }
  }
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.modal-get {
  div.wpcf7-validation-errors {
    display: none !important;
  }
}
