@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaRegular.woff') format('woff'),
  url('../fonts/HelveticaRegular.ttf') format('truetype'),
  url('../fonts/HelveticaRegular.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaMedium.woff') format('woff'),
  url('../fonts/HelveticaMedium.ttf') format('truetype'),
  url('../fonts/HelveticaMedium.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaBold.woff') format('woff'),
  url('../fonts/HelveticaBold.ttf') format('truetype'),
  url('../fonts/HelveticaBold.eot') format('embedded-opentype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueBlack.eot') format('embedded-opentype'),
  url('../fonts/HelveticaNeueBlack.ttf') format('truetype'),
  url('../fonts/HelveticaNeueBlack.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}