.filter-content {
  text-align: left;
  margin-bottom: 30px;
  border-bottom: 1px solid #ECECEC;
  @media (min-width: 675px) {
    margin-bottom: 3.5vw;
  }
  @media (min-width: 800px) {
    margin-bottom: 48px;
  }
}

.filter-link {
  @include fluid-type(10px, 18px);
  font-weight: 500;
  line-height: 20px;
  padding: 8px 10px;
  border-bottom: 3px solid transparent;
  margin-bottom: -2px;
  &.active {
    a {
      border-bottom: 3px solid #ED1C24;
    }
  }
  @media (min-width: 675px) {
    display: inline-block;
    margin: 0;
    &.active {
      border-bottom: 3px solid #ED1C24;
      a {
        border-bottom: none;
      }
    }
  }
  @media (min-width: 742px) {
    margin: 0 1.3vw 0 0;
  }
  @media (min-width: 999px) {
    margin: 0 50px 0 0;
  }
  a {
    font-size: 18px;
    color: $title-color;
    font-family: $main-font;
    font-weight: 500;
    line-height: 20px;
  }
}
