.resources-posts {
  display: flex;
  margin-bottom: 96px;
}

.post-item {
  margin-bottom: 32px;
  @media (min-width: 475px) {
    margin-bottom: 5.5vw;
  }
  @media (min-width: 1410px) {
    margin-bottom: 62px;
  }
}

.post-title {
  margin-bottom: 8px;
  @include fluid-type(25px, 30px);
  font-family: $main-font;
  font-weight: 700;
  color: $title-color;
  line-height: 25px;
  @media (min-width: 1920px) {
    line-height: 40px;
  }
}

.post-image {
  margin-bottom: 18px;
  height: 25vw;
  background-repeat: no-repeat;
  @media (min-width: 576px) {
    margin-bottom: 2vw;
    height: 21vw;
  }
  @media (min-width: 1920px) {
    margin-bottom: 32px;
    height: 420px;
  }
}

.link-category {
  color: $title-color !important;
  font-family: $main-font;
  font-size: 18px;
  line-height: 28px;
}

.nav-marz {
  margin:  0 auto;
  text-align: center;
  //@media (min-width: 576px) {
  //  margin: 0 auto 50px;
  //}
}

.page-numbers {
  line-height: 16px;
  color: $main-color;
  padding: 5px 7px;
  position: relative;
  font-size: 16px;
  display: inline-block;
  margin: 0px auto 50px;
  @media (min-width: 1920px) {
    margin: 33px auto 103px;
  }
}

.page-numbers.current {
  &:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: red;
  }
}

.related-post {
  margin-bottom: 20px;
  @media all and (min-width: 1440px) {
    margin-bottom: 34px;
  }
}

.related-title {
  margin-bottom: 20px;
  font-family: $main-font;
  font-weight: bold;
  line-height: 46px;
  color: $second-font-color;
  @media (min-width: 576px) {
    margin-bottom: 2.5vw;
  }
  @media all and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}


.link-resources {
  position: relative;
  color: $main-color;
  &:hover {
    color: $main-color;
  }
  &:after {
    content: url(../images/icons/ic-open_in_new-24px.svg);
    position: absolute;
    margin-left: 19px;
    cursor: pointer;
  }
}

.video-content {
  margin-bottom: 32px;
  .post-image {
    position: relative;
    &:after {
      content: url(../images/icons/button-play.svg);
      position: absolute;
      right: calc(50% - 40px);
      top: calc(50% - 32px);
      cursor: pointer;
    }
  }
}

.wrap-video {
  position: relative;
  .post-image {
    height: 260px;
    margin-bottom: 30px;
    @media (min-width: 768px) {
     height: 30vw;
    }
    @media (min-width: 576px) {
      margin-bottom: 5vw;
    }
    @media (min-width: 1920px) {
      height: 460px;
      margin-bottom: 64px;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.play-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
}

.video-padding {
  padding-bottom: 260px;
  margin-bottom: 30px;
  @media (min-width: 576px) {
    padding-bottom: 57%;
    margin-bottom: 5vw;
  }
  @media all and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}
