
.section-404 {
  height: 94.9vh;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 1100px) {
    height: 92.5vh;
  }
}

.main-404 {
  //padding-top: 210px;
  background: #0A246A;
  background-image: url(../images/group-4.png);
  background-size: cover;
  //padding: 20px;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  .title404 {
    display: inline;
    //display: -webkit-box;
    @include fluid-type(150px, 400px);
    text-align: center;
    font-weight: 900;
    padding-top: 40px;
  }
  .oops {
    //display: -webkit-box;
    display: inline;
    padding-top: 40px;
    //padding-top: 142px;
    @include fluid-type(80px, 210px);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    line-height: 130px;
  }
  .sorry {
    padding-top: 3vw;
    @include fluid-type(30px, 51px);
    color: rgba(255, 255, 255, 0.8);
    line-height: 36px;
  }
  .anchor-block {
    margin-top: 30px;
  }
}


@media all and (min-width: 992px) {
  .main-404 {
    text-align: right;
    .title404 {
      line-height: 0.8;
      padding-top: 0;
    }
    .oops {
      padding-top: 0;
      line-height: 1.2;
    }
    .sorry {
      padding-top: 0;
      line-height: 56px;
    }
  }
}
//@media all and (min-width: 992px) {
//  .main-404 {
//    text-align: right;
//
//    .title404 {
//      padding-top: 5.3vw;
//    }
//    .oops {
//      padding-top: 13.5vw;
//      line-height: 100px;
//    }
//    .sorry {
//      line-height: 56px;
//    }
//  }
//}


//@media all and (min-width: 1410px) {
//  .main-404 {
//    padding-top: 35px;
//  }
//}
//
//@media all and (min-width: 1900px) {
//  .main-404 {
//
//    .title404 {
//      padding-top: 90px;
//    }
//    .oops {
//      padding-top: 250px;
//    }
//    .sorry {
//      font-size: 50px;
//      padding-top: 54px;
//
//    }
//  }
//}