.welcome-frontpage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 55px;
  @media all and (min-width: 576px) {
    padding-top: 6vw;
    padding-bottom: 6vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

// for text welcome section

.welcome_main {
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: $global-color;
  @media all and (min-width: 992px) {
    max-width: 720px;
  }
}

.welcome-heading {
  @include fluid-type(38px, 74px);
  font-weight: 700;
  font-family: $main-font;
  line-height: 42px;
  padding-bottom: 12px;
  @media all and (min-width: 576px) {
    padding-bottom: 2.4vw;
    line-height: 60px;
  }
  @media all and (min-width: 992px) {
    line-height: 70px;
    max-width: 690px;
    margin: 0 auto;
  }
  @media all and (min-width: 1440px) {
    padding-bottom: 30px;
    line-height: 90px;
  }
}

.welcome-description {
  max-width: 525px;
  margin: 0 auto;
  padding-bottom: 25px;
  @include fluid-type(16px, 18px);
  font-weight: 500;
  line-height: 24px;
  @media all and (min-width: 576px) {
    padding-bottom: 2.3vw;
  }
  @media all and (min-width: 992px) {
    line-height: 28px;
  }
  @media all and (min-width: 1440px) {
    padding-bottom: 45px;
  }
}

.welcome-button {
  animation: translating 1s linear 1;
  .button-header {
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 11px 62px 11px 23px;
    background-color: $second-color;
    color: $global-color;
    border-color: $second-color;
    transition: all 0.5s ease;
    &:after {
      content: url(../images/arrow.svg);
      position: absolute;
      top: 13px;
      right: 30px;
    }
    //&:hover:after {
    //  content: url(../images/arrow-red.svg);
    //}
    &:hover {
      background-color: $second-font-color;
      border-color: $second-font-color;
      color: $global-color;
    }
    &:hover{
      &::after{
        transition: transform 0.3s ease-out;
        transform: translateX(5px);
      }
    }
    @media all and (min-width: 576px) {
      padding: 16px 69px 16px 27px;
      &:after {
        top: 18px;
      }
    }
  }
  //.button-image {
  //  margin-left: 12px;
  //  @media all and (min-width: 576px) {
  //    margin-left: 8px;
  //  }
  //}
}

@keyframes translating {
  0% {
    transform: translate(0, 70px);
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes notransform {
  0% {
    width: 30%;

    opacity: 0.1;
    transform: translate(0, -10px);
  }
  35% {
    //width: 50%;
    opacity: 0.5;
    transform: translate(0, -50px);
  }
  100% {
    width: 100%;
    opacity: 100%;
    transform: translate(0, -100px);
  }
}
