.help {
  color: $global-color;
}

.heading-description {
  @include fluid-type(16px, 18px);
  font-weight: 400;
  line-height: 28px;
}

.help-list {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  background-color: $second-blue-color;
  .help-img {
    height: 67vw;
    max-height: 255px;
    background-position: center;
    background-size: cover;
    @media all and (min-width: 992px) {
      height: inherit;
      max-height: 440px;
    }
    @media all and (min-width: 1440px) {
      height: 440px;
    }
  }
}

@keyframes trans-left {
  0% {
    transform: translate(-30px, 0);
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes trans-right {
  0% {
    transform: translate(30px, 0);
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.item-wrap-reverse {
  .row {
    flex-direction: row-reverse;
    .help-img {
      animation: trans-right 0.7s linear;
    }
    .help-list-content {
      animation: trans-left 0.7s linear;
    }
  }
}

.help-list-content {
  padding: 40px;
  //&:before {
  //  //content: '';
  //  //display: block;
  //  //width: 30px;
  //  //height: 3px;
  //  ////margin-bottom: 45px;
  //  //background-color: $second-color;
  //  //margin: 0 auto 35px;
  //}
  .help-list-content-title {
    max-width: 418px;
    padding-bottom: 15px;
    @include fluid-type(26px, 36px);
    font-weight: 700;
    line-height: 36px;
    margin: 0 auto;
    text-align: left;
  }
  .help-list-content-description {
    max-width: 430px;
    @include fluid-type(16px, 18px);
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    text-align: left;
  }
}

@media all and (min-width: 430px) {
  .help-list-content {
    .help-list-content-title {
      padding-bottom: 20px;
    }
  }
}

@media all and (min-width: 992px) {
  .help-list {
    margin-bottom: 3.6vw;
  }
  .help-img {
    animation: trans-left 0.7s linear;
  }

  .help-list-content {
    //padding: 55px 25px 45px 85px;
    animation: trans-right 0.7s linear;
    &:before {
      margin-bottom: 35px;
      margin-left: 0;
    }
    .help-list-content-title {
      padding-bottom: 35px;
      text-align: left;
      line-height: 48px;
    }
    .help-list-content-description {
      text-align: left;
      line-height: 28px;
    }
  }
}

@media all and (min-width: 1400px) {
  .help-list-content {
    padding-top: 5.2vw;
    //padding-left: 105px;
    //&:before {
    //  margin-left: 65px;
    //}
  }
}


