.patrons-section {
  color: $global-color;
  padding: 40px 0;
  &-heading{
    text-align: center;
    &-title{
      font-weight: 700;
    }
  }
  @media all and (min-width: 576px) {
    padding: 4.688vw 0 5.208vw;
  }
  @media all and (min-width: 1921px) {
    padding: 90px 0 100px;
  }
}

.patrons-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1130px;
  margin: auto;
  .patrons {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    .patrons-img{
      width: 110px;
      height: auto;
    }
    @media all and (min-width: 992px) {
      margin-top: 75px;
      .patrons-img{
        height: auto;
        max-width: 80%;
        width: initial;
      }
    }
  }
}


