.technologies {
  color: $second-font-color;
  .heading {
    max-width: 670px;
    p {
      @include fluid-type(18px, 24px);
      line-height: 28px;
    }
  }
}

.techno-list {
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
}

.techno-list-li {
  max-width: 422px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $accent-color;
  margin-bottom: 20px;
  .techno-link {
    display: flex;
    color: $second-font-color;
  }
  .techno-img {
    float: left;
    padding-right: 30px;
    padding-left: 15px;
    @media all and (min-width: 415px) {
      padding-left: 30px;
    }
  }
  .techno-name {
    @include fluid-type(18px, 20px);
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 0;
  }
}

//@keyframes tehno-animate {
//  0% {
//    transform: translate(0, 240px);
//    opacity: 0.1;
//  }
//
//  50% {
//    opacity: 0.5;
//  }
//
//  100% {
//    transform: translate(0, 0);
//    opacity: 1;
//  }
//}

@media all and (min-width: 992px) {
  .technologies .heading p {
    line-height: 36px;
  }
  .techno-list-li {
    //animation: tehno-animate 1s linear 1;
  }
}

@media all and (min-width: 576px) {
  .techno-list-li {
    max-width: 422px;
    flex: 0 0 100%;
    margin-bottom: 2.7vw;
  }
}

@media all and (min-width: 768px) {
  .techno-list {
    justify-content: space-between;
  }

  .techno-list-li {
    //max-width: 422px;
    flex: 0 0 49%;
    //height: 164px;
  }
}

@media all and (min-width: 1021px) {
  .techno-list {
    justify-content: space-between;
  }
  //.techno-list-li{
  //  margin-left: 1vw;
  //  margin-right: 1vw;
  //}
}

@media all and (min-width: 1200px) {
  .techno-list {
    justify-content: space-between;
  }
  .techno-list-li{
  //  margin-left: 3vw;
  //  margin-right: 3vw;
  margin-left: 1vw;
  margin-right: 1vw;
  flex: 0 0 30%;
    margin-bottom: 35px;
  }
}

@media all and (min-width: 1760px) {
  .techno-list {
    justify-content: space-between;
  }
  .techno-list-li {
    margin-left: 0;
    margin-right: 0;
  }
}
