.slick-initialized .slick-slide {
  &:focus {
    outline: none;
  }
}

.testimonials {
  .home-title {
    margin-bottom: 10px;
  }
}

.slide {
  max-width: 690px;
  font-family: $main-font;
  margin-left: auto;
  margin-right: auto;
  color: $second-font-color;
  text-align: center;
  &-content{
    margin-bottom: 20px;
    @include fluid-type(18px, 20px);
    line-height: 30px;
    @media all and (min-width: 575px) {
      margin-bottom: 3.2vw;
      line-height: 32px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 48px;
      line-height: 35px;
    }
  }
  &-representative {
    margin-bottom: 8px;
    @include fluid-type(16px, 18px);
    font-weight: 700;
    line-height: 20px;
  }
  &-company-name {
    @include fluid-type(16px, 18px);
    line-height: 28px;
  }
}

.slick-dots li button::before  {
  content: '';
  width: 36px;
  height: 1px;
  opacity: 1;
  //margin-bottom: 2px;
  background-color: #BDC9FF;
}

.slick-dots {
  li.slick-active {
    button:before {
      height: 3px;
      margin-top: -2px;
      background-color: red;
    }
  }
}


.slick-dots li {
  margin: 0 15px;
}