.cloud-technologies {
  //padding-top: 40px;
  color: $global-color;
  background-color: $second-color;
}

//@media all and (min-width: 992px) {
////  .patrons {
////    padding-top: 100px;
////  }
////}

.cloud-technologies-sub {
  padding: 25px;
  text-align: center;
  background-color: $second-color;
}

.cloud-technologies-sub-text {
  h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    @include fluid-type(35px, 48px);
  }
  p {
    //margin-bottom: 50px;
    //font: 400 18px $main-font;
  }
}

.cloud-technologies-sub-button {
  margin: 0 auto;
  max-width: 210px;
}

.button-cloud-technologies {
  background-color: $global-color;
  color: $second-color;
  transition: all 0.5s ease;
  &:hover {
    //background-color: $hover-color;
    //border-color: $global-color;
    //color: $global-color;
    background-color: $second-font-color;
    //border-color: $second-font-color;
    color: $global-color;
  }
}

@media all and (min-width: 576px) {
  .cloud-technologies {
    background-color: $main-color;
  }
  .cloud-technologies-lite {
    background-color: $global-color;
  }
}

@media all and (min-width: 992px) {
  .cloud-technologies-sub {
    padding-bottom: 35px;
    font-size: 25px;
  }

  .cloud-technologies-sub-text {
    h2 {
      //font-size: 48px;
      //font-weight: 700;
      line-height: 56px;
    }
    p {
      font-size: 24px;
    }
  }
}

@media all and (min-width: 1400px) {
  .cloud-technologies-sub {
    padding: 45px 120px 65px;
    display: flex;
    justify-content: space-between;
    .cloud-technologies-sub-text {
      max-width: 570px;
      text-align: left;
      h2 {
        padding-left: 0;
      }
    }
  }
  .cloud-technologies-sub-button {
    margin: inherit;
    padding-top: 75px;
  }
}

.wrap-cloud-technolog {
  .cloud-technologies-lite {
    .container {
      max-width: inherit !important;
    }
  }
}

