.footer-marz {
  padding-top: 40px;
  padding-bottom: 30px;
  color: $second-font-color;
  @media all and (min-width: 576px) {
    padding-top: 5.2vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 75px;
  }
}

.form-section {
  text-align: left;
}

.heading-footer {
  max-width: 350px;
  //margin: 0 auto;
  padding-bottom: 15px;
  //font: 400 25px $main-font;
  font-weight: 400;
}

.description-footer {
  padding-bottom: 20px;
  @include fluid-type(16px, 18px);
  line-height: 1.55;
}

.contact-form {
  //border-bottom: 2px solid $second-color;
  margin-bottom: 50px;
  .wpcf7-form {
    position: relative;
    max-width: 450px;
    //margin: 0 auto;
    .email {
      font: 700 20px $main-font;

    }
    input[type="email"] {
      width: 100%;
      max-width: 274px;
      padding: 12px 6px;
      border: 1px solid $second-font-color;
      border-right: none;
      @include fluid-type(15px, 18px);
      caret-color: red;
      &:focus {
        outline: none;
      }
      @media (min-width: 375px) {
        padding: 12px 6px 12px 24px;
      }
    }

    //.invalid {
      .wpcf7-form-control-wrap > .wpcf7-not-valid {
        background-color: #fff;
        border: 1px solid red;
        //outline-color: #ed1c24;
        //outline-width: thick;
        //outline: 1px medium #ed1c24;
        //outline-style: auto;
    }

    span.wpcf7-not-valid-tip {
      position: absolute;
      top: 65px;
      width: 280px;
    }

    div.wpcf7-response-output {
      margin-top: 1em;
      margin-left: 0;
      padding-left: 0;
    }

    div.wpcf7-mail-sent-ok {
      border: none;
      color: $sent-ok-color;
    }

    .wpcf7-validation-errors {
      display: none !important;
    }

    input[type="submit"] {
      //position: absolute;
      //top: 35px;
      //left: 187px;
      padding: 12px 14px;
      background-color: $second-color;
      border: 3px solid $second-color;
      font: 700 15px $main-font;
      color: $global-color;
      transition: all 0.5s ease;
      letter-spacing: 1px;
      &:hover {
        cursor: pointer;
        //background-color: $global-color;
        //color: $second-color;
        background-color: $second-font-color;
        border-color: $second-font-color;
        color: $global-color;
      }
      &:focus {
        outline: none;
      }
    }

    .email-block{
      display: flex;
      .your-email{
        display: inline-flex;
      }
    }
  }
}




.ajax-loader {
  display: none !important;
}

@media all and (min-width: 576px) {
  .heading-footer {
    padding-bottom: 1.6vw;
  }
  .contact-form .wpcf7-form {
    //max-width: 450px;
    input[type="email"] {
      max-width: 310px;
    }
  }
}

@media all and (min-width: 992px) {
  .heading-footer {
    max-width: 350px;
    //padding-bottom: 25px;
    //font: 400 36px $main-font;
  }

}

@media all and (min-width: 1410px) {
  .form-section {
    max-width: 445px;
    text-align: left;
  }

  .heading-footer {
    margin: 0;
  }

  .description-footer {
    padding-bottom: 30px;
  }

  .contact-form {
    border-bottom: none;
    .wpcf7-form {
      input[type="email"] {
        padding: 11px;

      }
      input[type="submit"] {
        padding: 11px 20px;
        font-size: 18px;
      }
      span.wpcf7-not-valid-tip {
        top: 60px;
      }
    }
  }
}

.address-block {
  margin-bottom: inherit;
  text-align: left;
  @include fluid-type(16px, 18px);
}

.address-block-item-icon {
  position: relative;
  padding-left: 45px;
  line-height: 32px;
  padding-bottom: 15px;
  @include fluid-type(16px, 18px);
  &:before {
    position: absolute;
    left: 10px;

  }
}

.telephone {
  display: block;
  color: $second-font-color;
  &:before {
    content: url('./../images/icons/phone-icon.svg');
  }
  &:hover:before {
    content: url('./../images/phone-icon-hover.svg');
    display: block;
  }
  &:hover {
    color: $second-color;
  }
}

.letter {
  display: block;
  color: $second-font-color;
  &:before {
    content: url('./../images/icons/mail-icon.svg');

  }
  &:hover:before {
    content: url('./../images/mail-icon-red.svg');
    display: block;
  }
  &:hover {
    color: $second-color;
  }
}


.marker {
  line-height: 32px;
  &:before {
    content: url('./../images/marker.svg');
  }
}

.work-time {
  padding-bottom: 20px;
  &:before {
    content: url('./../images/clock.svg');
  }
}

@media all and (min-width: 768px) {
  .address-block {
    text-align: inherit;
    border-bottom: none;
    padding-top: 6px;
  }

  .address-block-item-icon {
    padding-bottom: 25px;
    &:before {
      left: 0;
    }
  }
  .work-time {
    border-bottom: none;
  }
}

///// social block

.social-section {
  text-align: left;
}

.description-social {
  padding-bottom: 20px;
  @include fluid-type(16px, 18px);
  line-height: 28px;
}

.heading-social-block {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}



.social-link-block{
  &:hover{

   // opacity: 0.6;
  }
}


.social-link {
  padding-right: 30px;
  transition: all 0.5s ease;
  display: inline-block;
}

.tvitter {
  &:before {
    content: url('./../images/icons/twitter-icons.svg');
  }
  &:hover:before {
    content: url('./../images/icons/twitter-icon-hover.svg');
    display: block;
  }
}

.linkedin {
  &:before {
    content: url('./../images/icons/linkedin-icon.svg');
  }
  &:hover:before {
    content: url('./../images/icons/linkedin-icon-hover.svg');
    display: block;
  }
}


.facebook{
  &:before {
    content: url('./../images/icons/facebook-icon.svg');
  }
  &:hover:before {
    content: url('./../images/icons/facebook-icon-hover.svg');
    display: block;
  }
}

//.facebook:before {
//  content: url('./../images/facebook.svg');
//}

.copiwrite {
  @include fluid-type(15px, 16px);
  text-align: left;
  padding-top: 25px;
}

@media all and (min-width: 768px) {
  .social-section {
    text-align: left;
    padding-bottom: 50px;
  }

  .description-social {
    padding-bottom: 50px;
  }
  .social-link {
    padding-left: 0;
  }

  .copiwrite {
    text-align: left;
    padding-top: 0;
  }
}