.sticky {
  position: relative;
}

.sticky-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  background-color: $main-color;
  line-height: 0;
  @media all and (min-width: 1100px) {
    height: 70px;
  }
  height: 48px;
  //opacity: 0.9;
}

.header-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

.header-navigation {
  display: none;
  height: 100vh;
  background-color: $main-color;
  text-align: center;
  padding-top: 85px;
  z-index: 6;
  position: absolute;
  width: 100%;
}

.menu-view {
  position: absolute;
  top: 0;
  z-index: 7;
  img {
    width: 144px;
    height: 48px;
  }
}

///burger menu
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  //margin-bottom: -2px;
  background-color: $global-color;
}

.btn-bg {
  background-color: #000 !important;
  &:before {
    background-color: #000 !important;
  }
  &:after {
    background-color: #000 !important;
  }
}

.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  transition: 0.5s;
}

.menu-btn span:before {
  transform: translateY(-5px);
}

.menu-btn span:after {
  transform: translateY(5px);
}

.menu-btn_active {
  background-color: $main-color;
}

.menu-btn_active span {
  height: 0;
}

.menu-btn_active span:before {
  transform: rotate(45deg);
  background-color: $global-color !important;
}

.menu-btn_active span:after {
  transform: rotate(-45deg);
  background-color: $global-color !important;
}

.but-menu {
  padding-bottom: 9px;
  right: 0;
  position: absolute;
  padding-top: 0;
  z-index: 7;
  @media all and (min-width: 1100px) {
    padding-top: 11px;
  }

}

///end burger menu

//.main-navigation {
//  position: absolute;
//  top: 10px;
//  right: 0;
//  padding-right: 15px;
//  text-align: center;
//}

.main-navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 0;
  text-align: center;
  bottom: 0;
  left: 0;
}

.header__nav__li {
  //padding: 0 25px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  position: relative;

  a {
    display: block;
    padding: 25px 25px;
    margin: 0 auto;
    //padding-top: 23px;
    //padding-bottom: 23px;
    font: 500 18px $main-font;
    color: $global-color;
    &:hover {
      color: $second-color;
    }
  }
}

.header__nav__li.current-menu-item a {
  font-weight: 700;
  color: $second-color;
}

.marz-search {
  display: none;
}

.searching {
  display: none;
  position: absolute;
  top: 43px;
  right: 0;
  left: 0;
  text-align: center;
}

.searching-text {
  border: 1px solid;
  padding: 3px;
}

.searching-submit {
  margin-left: -5px;
  padding: 12px;
  background-color: $second-color;
  border: 1px solid $second-color;
  color: $global-color;
  transition: all 0.5s ease;
  &:hover {
    background-color: $global-color;
    color: $second-color;
    transition: all 0.5s ease;
  }
  &:focus {
    outline: none;
  }
}

@media all and (min-width: 768px) {
  .searching {
    left: inherit;
    right: 33px;
  }
}

@media all and (min-width: 992px) {
  .marz-search {
    padding-right: 50px;
  }
}

@media all and (min-width: 1100px) {
  .header-block {
    height: 70px;
    img {
      width: inherit;
      height: 70px;
    }
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: -1px;
    height: inherit;
    background-color: inherit;
    padding-top: 0;
    width: inherit;
  }

  .header__nav__li {
    border-top: 4px solid transparent;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      left: 0;
      top: -4px;
      width: 100%;
      height: 4px;
      background: red;
      transition: transform .3s ease;
      transform: scaleX(0);
    }
    &:hover:before {
      transform: scaleX(1);
    }
  }

  .header__nav__li.current-menu-item {
    border-top: 4px solid red;
    a {
      color: $global-color;
      font-weight: 700;
    }
  }

  .menu-btn {
    display: none;
  }

  .but-menu {
    padding-bottom: 0;
  }

  .marz-search {
    display: block;
    position: absolute;
    right: 0;
    padding-top: 25px;
    padding-right: 10px;
    cursor: pointer;
  }

  .menu-header-container {
    padding-top: 0;
    height: 100%;
  }

  .main-navigation {
    position: inherit;
    width: 100%;
    height: 100%;
    padding-left: 200px;
  }
}

