.hero {
  //padding-top: 50px;
  padding-top: 35px;
  text-align: center;
  @media all and (min-width: 576px) {
    padding-top: 5.7vw;
  }
  @media all and (min-width: 1140px) {
    padding-top: 110px;
  }
  .page-name {
    @include fluid-type(14px, 23px);
    font-family: $main-font;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $second-color;
  }

  .main-title {
    color: $global-color;
  }

  .hero-subtitle {
    max-width: 219px;
    margin: 20px auto 0;
    @include fluid-type(24px, 36px);
    font-weight: 700;
    line-height: 30px;
    color: $global-color;
    @media all and (min-width: 576px) {
      margin-top: 2vw;
      max-width: inherit;
    }
    @media all and (min-width: 1440px) {
      text-align: center;
      margin-top: 30px;
      line-height: 46px;
    }
  }

  img {
    max-width: 100%;
    margin-top: 35px;
    @media all and (min-width: 576px) {
      margin-top: 3vw;
    }
    @media all and (min-width: 1440px) {
      margin-top: 45px;
    }
  }

  //.bg {
  //  position: relative;
  //}
  //.fon {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  right: 0;
  //  box-shadow: inset 0 0 0 1000px rgba(35, 58, 117, 0.7);
  //  display: block;
  //  content: "";
  //}
}


