.lite-header {
  .sticky-main {
    background-color: $global-color;
  }
  .header-navigation {
    background-color: $main-color;
  }
  .header__nav__li a {
    color: $global-color;
    &:hover {
      color: $second-color;
    }
  }
  .header__nav__li.current-menu-item {
    a {
      color: $second-color;
    }
    @media all and (min-width: 1100px) {
      a {
        color: $second-font-color;
      }
    }
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    background-color: $second-font-color;
  }

  .menu-btn_active.menu-btn span,
  .menu-btn_active.menu-btn span:before,
  .menu-btn_active.menu-btn span:after {
      background-color: $global-color;
  }
}

@media all and (min-width: 1100px) {
  .lite-header {
    .header-navigation {
      background-color: inherit;
    }
    .header__nav__li a {
      color: $second-font-color;
    }
    .header__nav__li.current-menu-item {
      border-top: 4px solid red;
      a {
        font-weight: 700;
      }
    }
  }
}





