.hero_section-contact-us {
  .contact-us-title {
    max-width: 100%;
    margin: 0;
    padding: 45px 0 20px;
    @include fluid-type(30px, 50px);
    @media (min-width: 768px) {
      padding: 6vw 0 3.385vw;
    }
    @media (min-width: 1921px) {
      padding: 115px 0 65px;
    }
  }

  .description-contact-us {
    padding-bottom: 40px;
    @media (min-width: 768px) {
      padding-bottom: 3.646vw;
    }
    @media (min-width: 1921px) {
      padding-bottom: 70px;
    }
  }

  .mail-block {
    &:not(:last-child) {
      margin-top: 20px;
      margin-bottom: 24px;
      @media (min-width: 576px) {
        margin-top: 3.4vw;
      }
      @media (min-width: 992px) {
        margin-top: inherit;
        margin-bottom: 48px;
      }
    }
    &-title {
      color: #233a75;
      font: 700 18px $main-font;
      text-transform: uppercase;
    }
    &-email {
      margin-top: 13px;
      a {
        color: black;
        transition: all .3s ease;
        @include fluid-type(17px, 20px);
        &:hover {
          color: #ed1c23;
        }
      }
    }
  }

  .image-contact-block {
    max-height: 420px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .image-wrap {
      img {
        max-width: 100%;
        height: auto;
      }
      //@media (max-width: 425px) {
      //  position: relative;
      //  padding-bottom: 56.25%;
      //  width: 100%;
      //  img {
      //    position: absolute;
      //    height: 100%;
      //    width: 100%;
      //  }
      //}
    }
    margin-bottom: 40px;
    @media (min-width: 768px) {
      margin-bottom: 4.688vw;
    }
    @media (min-width: 1921px) {
      margin-bottom: 90px;
    }

  }

}

.office_section {
  .office_section-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:before {
      margin-bottom: 0;
      position: absolute;
    }
    .address-block {
      margin-top: 35px;
      padding-bottom: 36px;
      text-align: left;
      &-title {
        font-family: $main-font;
        @include fluid-type(28px, 36px);
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 25px;
        @media (min-width: 768px) {
          margin-bottom: 2.5vw;
        }
        @media (min-width: 1921px) {
          margin-bottom: 40px;
        }
      }

      .address-info-block {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
        .address {
          line-height: 1.75;
          position: relative;
          display: inline-flex;
          &:before {
            content: url("../images/marker.svg");
            display: inline-flex;
            height: 100%;
            padding-right: 15px;
          }
        }
        .numbers_block {
          line-height: 1.75;
          position: relative;
          .numbers {
            padding-left: 30px;
            a {
              color: $second-font-color;
              &:hover {
                color: $second-color;
              }
            }
          }
          &:before {
            content: url("../images/icons/phone-icon.svg");
            position: absolute;
          }
        }
      }
      @media (min-width: 768px) {
        padding-bottom: 76px;
        padding-left: 30px;
        .address-info-block {
          .numbers_block {
            .numbers {
              padding-left: 45px;
            }
          }
        }
      }

      @media (min-width: 1440px) {
        .address-info-block {
          .address, .numbers_block {
            padding-right: 45px;
            &:before {
              padding-right: 25px;
            }
          }

        }
      }
    }

    .location_section {
      .location_map {
        max-width: 650px;
        height: auto;
        position: relative;

        .wp_mapbox_gl_js_map-2074100410 {
          .mapboxgl-popup.mapboxgl-popup-anchor-right {
            .mapboxgl-popup-content {
              padding-bottom: 5px;
              p {
                font-size: 11px;
                max-width: 125px;
                margin-bottom: 10px;
                line-height: 1.4;
              }
            }
          }

        }
      }
    }

    padding-bottom: 40px;
    @media (min-width: 768px) {
      padding-bottom: 6.250vw;
    }
    @media (min-width: 1921px) {
      padding-bottom: 120px;
    }

  }
}

.contact-us-border {
  width: 100%;
  height: 2px;
  background-color: #ececec;
}

.map-top-block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.61);
  z-index: 1;
  @media (min-width: 992px) {
    display: none;
  }
}
.mapboxgl-popup-content {
  padding: 15px 10px 10px;
}
.mapboxgl-popup-content p {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 20px;
}