.help, .technologies {
  padding-top: 40px;
  padding-bottom: 10px;
  @media all and (min-width: 576px) {
    padding-top: 4.2vw;
    padding-bottom: 5.2vw;
  }
  @media all and (min-width: 1440px) {
    padding-top: 90px;
    padding-bottom: 100px;
  }
}



