
.page-settings {
  figure {
    margin: 30px auto;
    text-align: center;
    img {
      height: auto;
    }
  }
  h1 {
    max-width: 720px;
    margin: 35px auto 35px;
  }

  h2 {
    max-width: 720px;
    margin: 35px auto 25px;
    @include fluid-type(24px, 36px);
  }
  h3 {
    max-width: 720px;
    margin: 30px auto 20px;
    @include fluid-type(22px, 33px);
  }
  h4 {
    max-width: 720px;
    margin: 25px auto 20px;
    @include fluid-type(20px, 30px);
  }
  ul {
    max-width: 720px;
    margin: 20px auto;
    padding-left: 45px;
    li {
      margin-bottom: 5px;
      @include fluid-type(18px, 20px);
      line-height: 28px;
      list-style: disc;
    }
  }

  p {
    max-width: 720px;
    margin: 20px auto;
  }
  .wp-block-gallery {
    max-width: inherit;
    padding-left: 0;
  }
  a {
    color: #849ee1;
  }
}

@media all and (min-width: 576px) {
  .page-settings {
    figure {
      margin: 3.5vw auto;
    }
    h1 {
      margin: 3vw auto 3.5vw;
    }
    h2 {
      margin: 3.5vw auto 2.5vw;
    }
    h3 {
      margin: 3.2vw auto 2.5vw;
    }
    h4 {
      margin: 3vw auto 2.5vw;
    }
    ul {
      margin: 2.5vw auto;
      li {
        margin-bottom: 1.5vw;
        line-height: 30px;
      }
    }
    p {
      margin: 2.5vw auto;
    }
  }
}

@media all and (min-width: 1440px) {
  .page-settings {
    figure {
      margin: 55px auto;
    }
    h1 {
      margin: 45px auto 50px;
    }
    h2 {
      margin: 60px auto 35px;
    }
    h3 {
      margin: 55px auto 35px;
    }
    h4{
      margin: 50px auto 35px;
    }
    ul {
      margin: 40px auto;
      li {
        margin-bottom: 10px;
        line-height: 35px;
      }
    }
    p {
      margin: 40px auto;
    }
  }
}